

<div class="site-footer">
    <div class="container ">
        <div class="row mb-5 c">
            <div class="col-md-4">
                <h3 class="footer-heading mb-4"></h3>
                <p></p>
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="/About/Index/" target="_blank" class="icon-calendar-minus-o" > Hakkımızda </a></li>
                    <li><a href="/Concact/SendMail/" target="_blank" class="icon-comment2"> İletişim </a></li>
                    <li><a href="/Login/AuthorLogin/"  target="_blank" class="icon-dropbox"> Yazar Girişi </a></li>
                    <li><a href="/Blog/BlogByCategory/1" target="_blank" class="icon-laptop2"> Yazılım </a></li>
                    
                </ul> 
              <ul class="list-unstyled float-left">
                  <li><a href="/Blog/BlogByCategory/2" target="_blank" >Teknoloji</a></li>
                  <li><a href="/Blog/BlogByCategory/3" target="_blank">Güncel Konular</a></li>
                  <li><a href="/Blog/BlogByCategory/4" target="_blank">Spor</a></li>
                  <li><a href="/Blog/BlogByCategory/5" target="_blank">Gezi</a></li>
                 
              </ul>
            </div>
            <div class="col-md-4">


                <div>
                    <h3 class="footer-heading mb-4">Connect With Us</h3>
                    <p>
                        <a href="https://www.facebook.com/batuha.sen/" target="_blank"><span class="icon-facebook pt-2 pr-2 pb-2 pl-0"></span></a>
                        <a href="#"><span class="icon-twitter p-2"></span></a>
                        <a href="#"><span class="icon-instagram p-2"></span></a>
                        <a href="#"><span class="icon-rss p-2"></span></a>
                        <a href="#"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    &copy;
                    
                    <script>document.write(new Date().getFullYear());</script>  <i class="" aria-hidden="true"></i> <a href="https://colorlib.com" target="_blank"></a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</div>

