@model IEnumerable<EntitiyLayer.Concrete.Comment>
@{
    ViewBag.Title = "AdminCommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminCommentList</h2>
<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <!-- Main content -->

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <div class="card-body">
                   
                    <!-- Post -->
                    @foreach (var X in Model)
                    {
                        <div class="post">

                            <div class="user-block">

                                <img class="img-circle img-bordered-sm" src="~/miniblog/images/indir (7).jpg" alt="user image">

                                <span class="username">

                                    <a href="#">@X.UserName-@X.Blogs.BlogTitle</a>





                                </span>

                                <span class="description">@(((DateTime)X.Tarih).ToString("dd-MMM-yyyy"))</span>

                            </div>

                            <!-- /.user-block -->

                            <p>
                                @X.CommentText

                            </p>

                            <p>





                                <span class="float-right">


                                </span>

                            </p>



                        </div>
                    }
                </div>

            </div>

        </div><!-- /.card-body -->



    </section>

</body>

</html>
